@media only screen and (min-width: 768px) {

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu1 {
    display: none;
}

header {
    width: 92.5%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5% 3.5%;
}

.logo {
    height: 90%;
    width: 7%;
    
}

header ul {
    display: flex;
    width: 50%;
    height: 95%;
    list-style: none;
    justify-content: space-between;
    margin-top: 1.5%;
}



a:link {
    text-decoration: none;
    color: black;
}

.item2 {
    width: 60%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 0 3.5%;
}

.desktop {
    display: block;
    width: 100%;
    height: 50%;
}


.mobile {
    display: none;
}
.h1-mobile {
    display: none;
}

.h1-desktop {
    display: block;
    width: 49%;
    height: 40%;
    font-size: 2.4rem;
    text-align: start;
    padding-bottom: 30px;
}

.p-and-button {
    width: 50%;
    height: 40%;
}

.item2 p {
    font-size: 0.75rem;
    width: 100%;
    height: 60%;
}

.item2 button {
width: 50%;
height: 30%;
}

.item3 {
    width: 30%;
    height: 60vh;
    margin: 0 2.5% 0 2.5%;
}

.item3 hr {
    margin: 4% auto;
}

.item3 h1 {
    font-size: 1.5rem;
    width: 90%;
    height: 10%;
    margin: 5% 5% 0 5%;

}

.item3 h2 {
    font-size: 0.8rem;
    width: 90%;
    height: 1.5rem;
    margin: 0 5% 0 5%;
    

}

.item3 p {
    width: 90%;
    height: 15%;
    font-size: 0.75rem;
    margin: 3% 5% 3% 5%;
}

.item4 {
    width: 92.5%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 3.5% 2.5%;
}

.item4 .first-div {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item4 .inner-div {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.item4 img {
    width: 30%;
    height: 100%;
}

.item4 h1, .item4 h2, .item4 p {
    width: 100%;
    height: 27%;
}

.item4 h2 {
    font-size: 0.8rem;
}

.item4 p {
    font-size: 0.6rem;
}

}